<%-
include('partials/header.ejs');
%>

<table class="mt-5 w-5/12 mx-auto  ">
    <tr class="flex">
      <td class="font-bold w-1/5" >Naam</td> <td class="w-4/5"> <%= bedrijf.name %></td>
    </tr>
    <tr class="flex"> 
      <td class="font-bold  w-1/5">Adres</td> <td class="w-4/5"><%= bedrijf.address.street %> <%= bedrijf.address.number %></td>
    </tr>
    <tr class="flex">
      <td class=" w-1/5"> </td> <td class="w-4/5"><%= bedrijf.address.postalCode %> <%= bedrijf.address.city %></td>
    </tr>

    <tr class= ""><td class="h-5"></td></tr>

    <tr class="">
      <td class="font-bold">Datum neerlegging</td> <td class="text-right"><%= bedrijf.depositDate %></td>
    </tr>
    <tr>
      <td class="font-bold">Eigen vermogen</td> <td class="text-right "><%= bedrijf.eigenVermogen %></td>
    </tr>
    <tr>
      <td class="font-bold">Schulden</td> <td class="text-right"><%= bedrijf.schulden %></td>
    </tr>
    <tr>
      <td class="font-bold">Bedrijfswinst</td class="text-right"> <td class="text-right"><%= bedrijf.bedrijfswinst %></td>
    </tr>
    <tr>
      <td class="font-bold">Opzoekdatum:</td class="text-right"> <td class="text-right"><%= bedrijf.opzoekDatum %></td>
    </tr>
    </table>
    <%-
    include('partials/footer.ejs');
    %>
  </body>
  <script src="assets/history.script.js"></script>
  </html>